-- MySQL dump 10.13  Distrib 5.5.58, for Win64 (AMD64)
--
-- Host: localhost    Database: dm_reporting
-- ------------------------------------------------------
-- Server version	5.7.17-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

CREATE DATABASE IF NOT EXISTS `dm_reporting`;

USE dm_reporting;

--
-- Table structure for table `rpt_lb`
--

DROP TABLE IF EXISTS `rpt_lb`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb` (
  `export_to` varchar(255) NOT NULL DEFAULT '',
  `kd_jns_pelapor` varchar(45) NOT NULL DEFAULT '',
  `kd_pelapor` varchar(45) NOT NULL DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb`
--

LOCK TABLES `rpt_lb` WRITE;
/*!40000 ALTER TABLE `rpt_lb` DISABLE KEYS */;
INSERT INTO `rpt_lb` VALUES ('C:\\12023227\\Tools\\Program\\3R\\PROGRAM\\pdi\\hasil_export_lb','0103','601306');
/*!40000 ALTER TABLE `rpt_lb` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form00`
--

DROP TABLE IF EXISTS `rpt_lb_form00`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form00` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `sandi_bank` char(9) NOT NULL,
  `nm_bank` varchar(255) NOT NULL,
  `ket_alamat` varchar(255) NOT NULL,
  `ket_kecamatan` varchar(255) NOT NULL,
  `ket_kelurahan` varchar(255) NOT NULL,
  `kd_dati` char(4) NOT NULL,
  `no_kodepos` varchar(255) NOT NULL,
  `status_pemilikan_gdg` varchar(255) NOT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `kd_cabang_wil` varchar(255) NOT NULL,
  `kepemilikan` varchar(255) DEFAULT NULL,
  `jml_pemegang_saham` smallint(6) NOT NULL,
  `nm_direktur` varchar(255) NOT NULL,
  `jml_direktur` smallint(6) NOT NULL,
  `nm_komisaris` varchar(255) NOT NULL,
  `jml_komisaris` smallint(6) NOT NULL,
  `pendidikan_komisaris` varchar(255) NOT NULL,
  `nm_pimpinan` varchar(255) DEFAULT NULL,
  `jml_karyawan` smallint(6) DEFAULT NULL,
  `no_telepon` varchar(255) NOT NULL,
  `no_fax` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `nm_penanggung` varchar(255) NOT NULL,
  `divisi_penanggung` varchar(255) NOT NULL,
  `no_telepon_penanggung` varchar(255) NOT NULL,
  `no_fax_penanggung` varchar(255) NOT NULL,
  `pva` varchar(5) NOT NULL,
  `jml_cabang` int(11) NOT NULL,
  `jml_kantor_kas` int(11) NOT NULL,
  `jml_kas_mobil` int(11) NOT NULL,
  `jml_atm` int(11) NOT NULL,
  `deviden_dibayar` int(11) NOT NULL,
  `bonus_tahunan` int(11) NOT NULL,
  `diaudit_kap` varchar(5) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form00`
--

LOCK TABLES `rpt_lb_form00` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form00` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form00` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form01`
--

DROP TABLE IF EXISTS `rpt_lb_form01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form01` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_gl` varchar(255) NOT NULL,
  `nm_gl` varchar(255) NOT NULL,
  `jml` bigint(20) NOT NULL,
  `group` smallint(6) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form01`
--

LOCK TABLES `rpt_lb_form01` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form01` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form02`
--

DROP TABLE IF EXISTS `rpt_lb_form02`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form02` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_gl` varchar(255) NOT NULL,
  `nm_gl` varchar(255) NOT NULL,
  `jml` bigint(20) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form02`
--

LOCK TABLES `rpt_lb_form02` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form02` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form02` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form03`
--

DROP TABLE IF EXISTS `rpt_lb_form03`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form03` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_valas` varchar(255) NOT NULL,
  `jml_valas` bigint(20) NOT NULL,
  `jml_tengah` bigint(20) NOT NULL,
  `jml_rupiah` bigint(20) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form03`
--

LOCK TABLES `rpt_lb_form03` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form03` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form03` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form04`
--

DROP TABLE IF EXISTS `rpt_lb_form04`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form04` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_sbi` char(3) NOT NULL,
  `kd_klasifikasi` char(1) NOT NULL,
  `suku_bunga` float DEFAULT NULL,
  `dt_mulai` date DEFAULT NULL,
  `dt_jatuh_tempo` date DEFAULT NULL,
  `jml` bigint(20) DEFAULT NULL,
  `jml_dijaminkan` bigint(20) DEFAULT NULL,
  `biaya_perolehan` bigint(20) DEFAULT NULL,
  `diskonto_belum_amortisasi` bigint(20) DEFAULT NULL,
  `premium_belum_amortisasi` bigint(20) DEFAULT NULL,
  `biaya_belum_amortisasi` bigint(20) DEFAULT NULL,
  `laba_rugi_belum_realisasi` bigint(20) DEFAULT NULL,
  `biaya_sudah_amortisasi` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form04`
--

LOCK TABLES `rpt_lb_form04` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form04` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form04` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form05`
--

DROP TABLE IF EXISTS `rpt_lb_form05`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form05` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_pelapor` varchar(45) NOT NULL,
  `kd_sbi` char(3) NOT NULL,
  `kd_dati` char(4) NOT NULL,
  `kd_jenis` varchar(3) NOT NULL,
  `kd_keterkaitan` char(1) NOT NULL,
  `dt_mulai` date DEFAULT NULL,
  `dt_jatuh_tempo` date DEFAULT NULL,
  `kolektibilitas` char(1) NOT NULL,
  `suku_bunga` float DEFAULT NULL,
  `jml` bigint(20) DEFAULT NULL,
  `jml_dijaminkan` bigint(20) DEFAULT NULL,
  `jml_ppap` bigint(20) DEFAULT NULL,
  `bunga_penyelesaian` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form05`
--

LOCK TABLES `rpt_lb_form05` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form05` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form05` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form06`
--

DROP TABLE IF EXISTS `rpt_lb_form06`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form06` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_rekening` varchar(45) NOT NULL,
  `jml_rekening` int(11) NOT NULL,
  `kd_sifat` varchar(2) NOT NULL,
  `kd_jenis_penggunaan` char(2) NOT NULL,
  `kd_keterkaitan` char(1) NOT NULL,
  `kd_sumber_dana` varchar(6) DEFAULT NULL,
  `periode_pembayaran` char(1) DEFAULT NULL,
  `dt_mulai` date DEFAULT NULL,
  `dt_jatuh_tempo` date DEFAULT NULL,
  `dt_angsuran_pertama` date DEFAULT NULL,
  `kolektibilitas` char(1) NOT NULL,
  `dpd` int(11) NOT NULL,
  `kd_golongan` varchar(6) DEFAULT NULL,
  `kd_sbi` char(3) NOT NULL,
  `kd_sektor_ekonomi` varchar(4) NOT NULL,
  `kd_jenis_usaha` char(1) NOT NULL,
  `ket_lokasi_usaha` varchar(255) DEFAULT NULL,
  `suku_bunga` float DEFAULT NULL,
  `kd_suku_bunga` varchar(3) DEFAULT NULL,
  `kd_golongan_penjamin` varchar(6) DEFAULT NULL,
  `persentase_jaminan` float DEFAULT NULL,
  `kd_liquid` varchar(2) DEFAULT NULL,
  `jml_liquid` bigint(20) DEFAULT NULL,
  `kd_non_liquid` varchar(2) DEFAULT NULL,
  `jml_non_liquid` bigint(20) DEFAULT NULL,
  `jml_non_liquid_ppap` bigint(20) DEFAULT NULL,
  `dt_non_liquid_penilaian_akhir` date DEFAULT NULL,
  `jml_kelonggaran_tarik` bigint(20) DEFAULT NULL,
  `jml_plafond_akad` bigint(20) DEFAULT NULL,
  `jml_plafond_efektif` bigint(20) DEFAULT NULL,
  `jml_baki_debet` bigint(20) DEFAULT NULL,
  `jml_provisi` bigint(20) DEFAULT NULL,
  `jml_biaya` bigint(20) DEFAULT NULL,
  `jml_pendapatan_bunga_ditangguhkan` bigint(20) DEFAULT NULL,
  `jml_cadangan_kerugian` bigint(20) DEFAULT NULL,
  `jml_baki_debet_netto` bigint(20) DEFAULT NULL,
  `jml_ppap` bigint(20) DEFAULT NULL,
  `jml_kelebihan_ppap` bigint(20) DEFAULT NULL,
  `jml_pendapatan_bunga_penyelesaian` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form06`
--

LOCK TABLES `rpt_lb_form06` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form06` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form06` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form07`
--

DROP TABLE IF EXISTS `rpt_lb_form07`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form07` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_jenis` varchar(2) NOT NULL,
  `dt_mulai` date DEFAULT NULL,
  `dt_jatuh_tempo` date DEFAULT NULL,
  `jml_pengakuan_awal` bigint(20) DEFAULT NULL,
  `jml_kerugian` bigint(20) DEFAULT NULL,
  `jml_tercatat` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form07`
--

LOCK TABLES `rpt_lb_form07` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form07` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form07` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form08`
--

DROP TABLE IF EXISTS `rpt_lb_form08`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form08` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_jenis` varchar(3) NOT NULL,
  `kd_sumber_perolehan` char(1) NOT NULL,
  `jml_biaya_perolehan` bigint(20) DEFAULT NULL,
  `jml_amortisasi` bigint(20) DEFAULT NULL,
  `jml_kerugian` bigint(20) DEFAULT NULL,
  `jml_tercatat` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form08`
--

LOCK TABLES `rpt_lb_form08` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form08` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form08` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form09`
--

DROP TABLE IF EXISTS `rpt_lb_form09`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form09` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_gl` varchar(255) NOT NULL,
  `nm_gl` varchar(255) NOT NULL,
  `jml_gl` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form09`
--

LOCK TABLES `rpt_lb_form09` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form09` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form09` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form10`
--

DROP TABLE IF EXISTS `rpt_lb_form10`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form10` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_gl` varchar(255) NOT NULL,
  `nm_gl` varchar(255) NOT NULL,
  `jml_gl` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form10`
--

LOCK TABLES `rpt_lb_form10` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form10` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form10` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form11`
--

DROP TABLE IF EXISTS `rpt_lb_form11`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form11` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_gl` varchar(255) NOT NULL,
  `nm_gl` varchar(255) NOT NULL,
  `jml_gl` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form11`
--

LOCK TABLES `rpt_lb_form11` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form11` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form11` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form12`
--

DROP TABLE IF EXISTS `rpt_lb_form12`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form12` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_jenis` char(2) NOT NULL,
  `kd_kelompok` varchar(255) NOT NULL,
  `kd_terkait` char(1) NOT NULL,
  `kd_golongan` varchar(4) NOT NULL,
  `kd_dati` varchar(4) NOT NULL,
  `dt_mulai` date DEFAULT NULL,
  `dt_jatuh_tempo` date DEFAULT NULL,
  `suku_bunga` float DEFAULT NULL,
  `jml_rekening` int(11) DEFAULT NULL,
  `jml_dijaminkan` bigint(20) DEFAULT NULL,
  `jml_belum_amortisasi` bigint(20) DEFAULT NULL,
  `jml_final` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form12`
--

LOCK TABLES `rpt_lb_form12` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form12` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form12` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form13`
--

DROP TABLE IF EXISTS `rpt_lb_form13`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form13` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_kelompok` varchar(255) NOT NULL,
  `kd_terkait` char(1) NOT NULL,
  `kd_golongan` varchar(4) NOT NULL,
  `kd_dati` varchar(4) NOT NULL,
  `dt_mulai` date DEFAULT NULL,
  `dt_jatuh_tempo` date DEFAULT NULL,
  `suku_bunga` float DEFAULT NULL,
  `jml_rekening` int(11) DEFAULT NULL,
  `jml_deposito` bigint(20) DEFAULT NULL,
  `jml_dijaminkan` bigint(20) DEFAULT NULL,
  `jml_belum_amortisasi` bigint(20) DEFAULT NULL,
  `jml_final` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form13`
--

LOCK TABLES `rpt_lb_form13` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form13` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form13` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form14`
--

DROP TABLE IF EXISTS `rpt_lb_form14`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form14` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_jenis_bank` varchar(255) NOT NULL,
  `kd_sbi` char(3) NOT NULL,
  `kd_dati` varchar(4) NOT NULL,
  `kd_jenis` char(2) NOT NULL,
  `kd_terkait` char(1) NOT NULL,
  `dt_mulai` date DEFAULT NULL,
  `dt_jatuh_tempo` date DEFAULT NULL,
  `suku_bunga` float DEFAULT NULL,
  `jml_deposito` bigint(20) DEFAULT NULL,
  `jml_dijaminkan` bigint(20) DEFAULT NULL,
  `jml_belum_amortisasi` bigint(20) DEFAULT NULL,
  `jml_final` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form14`
--

LOCK TABLES `rpt_lb_form14` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form14` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form14` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form15`
--

DROP TABLE IF EXISTS `rpt_lb_form15`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form15` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_golongan` varchar(4) NOT NULL,
  `kd_sbi` char(3) NOT NULL,
  `kd_dati` varchar(4) NOT NULL,
  `kd_jenis` char(2) NOT NULL,
  `kd_terkait` char(1) NOT NULL,
  `dt_mulai` date DEFAULT NULL,
  `dt_jatuh_tempo` date DEFAULT NULL,
  `suku_bunga` float DEFAULT NULL,
  `suku_bunga_perhitungan` varchar(255) DEFAULT NULL,
  `jml_baki_debet` bigint(20) DEFAULT NULL,
  `jml_belum_amortisasi` bigint(20) DEFAULT NULL,
  `jml_diskonto_belum_amortisasi` bigint(20) DEFAULT NULL,
  `jml_baki_debet_netto` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form15`
--

LOCK TABLES `rpt_lb_form15` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form15` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form15` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_lb_form16`
--

DROP TABLE IF EXISTS `rpt_lb_form16`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_lb_form16` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `kd_gl` varchar(255) NOT NULL,
  `nm_gl` varchar(255) NOT NULL,
  `jml_gl` bigint(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_lb_form16`
--

LOCK TABLES `rpt_lb_form16` WRITE;
/*!40000 ALTER TABLE `rpt_lb_form16` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_lb_form16` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik`
--

DROP TABLE IF EXISTS `rpt_slik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik` (
  `export_to` varchar(255) NOT NULL DEFAULT '',
  `export_limit` int(10) unsigned NOT NULL DEFAULT '0',
  `kd_jns_pelapor` varchar(45) NOT NULL DEFAULT '',
  `kd_pelapor` varchar(45) NOT NULL DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik`
--

LOCK TABLES `rpt_slik` WRITE;
/*!40000 ALTER TABLE `rpt_slik` DISABLE KEYS */;
INSERT INTO `rpt_slik` VALUES ('C:\\12023227\\Tools\\Program\\3R\\PROGRAM\\pdi\\hasil_export_slik',500000,'0103','601306');
/*!40000 ALTER TABLE `rpt_slik` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_a01`
--

DROP TABLE IF EXISTS `rpt_slik_a01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_a01` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date DEFAULT NULL,
  `no_agunan` varchar(255) DEFAULT NULL,
  `no_rekening` varchar(255) DEFAULT NULL,
  `no_cif` varchar(255) DEFAULT NULL,
  `kd_jenis_segmen` char(3) DEFAULT NULL,
  `kd_status` char(1) DEFAULT NULL,
  `kd_jenis` char(3) DEFAULT NULL,
  `kd_peringkat` varchar(255) DEFAULT NULL,
  `kd_lembaga_peringkat` char(2) DEFAULT NULL,
  `kd_jenis_pengikatan` char(2) DEFAULT NULL,
  `dt_pengikatan` date DEFAULT NULL,
  `nm_pemilijk` varchar(255) DEFAULT NULL,
  `bukti_pemilikan` varchar(255) DEFAULT NULL,
  `ket_alamat` varchar(255) DEFAULT NULL,
  `kd_dati` char(4) DEFAULT NULL,
  `nilai_njop` bigint(20) DEFAULT NULL,
  `nilai_pelapor` bigint(20) DEFAULT NULL,
  `dt_nilai_pelapor` date DEFAULT NULL,
  `nilai_independen` int(11) DEFAULT NULL,
  `nm_independen` varchar(255) DEFAULT NULL,
  `dt_independen` date DEFAULT NULL,
  `status_parisu` char(1) DEFAULT NULL,
  `persentase_parisu` float DEFAULT NULL,
  `status_join` char(1) DEFAULT NULL,
  `asuransikan` char(1) DEFAULT NULL,
  `ket` varchar(255) DEFAULT NULL,
  `kd_cabang` varchar(255) DEFAULT NULL,
  `operasi_data` char(1) DEFAULT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_a01`
--

LOCK TABLES `rpt_slik_a01` WRITE;
/*!40000 ALTER TABLE `rpt_slik_a01` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_a01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_d01`
--

DROP TABLE IF EXISTS `rpt_slik_d01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_d01` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `jns_identitas` varchar(255) NOT NULL,
  `no_identitas` varchar(255) NOT NULL,
  `nm_identitas` varchar(255) NOT NULL,
  `nm_lengkap` varchar(255) DEFAULT NULL,
  `kd_pendidikan` char(2) NOT NULL,
  `jns_kelamin` char(1) NOT NULL,
  `ket_tempat_lahir` varchar(255) NOT NULL,
  `dt_lahir` date NOT NULL,
  `no_npwp` varchar(255) DEFAULT NULL,
  `ket_alamat` varchar(255) NOT NULL,
  `ket_kelurahan` varchar(255) NOT NULL,
  `ket_kecamatan` varchar(255) NOT NULL,
  `kd_dati` char(4) NOT NULL,
  `no_kodepos` varchar(255) NOT NULL,
  `no_telepon` varchar(255) NOT NULL,
  `no_hp` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `kd_negara` char(2) NOT NULL,
  `kd_pekerjaan` char(3) NOT NULL,
  `ket_tempat_bekerja` varchar(255) NOT NULL,
  `kd_bidang_usaha` char(6) NOT NULL,
  `ket_alamat_bekerja` varchar(255) DEFAULT NULL,
  `nett_penghasilan` int(11) DEFAULT NULL,
  `kd_penghasilan` char(1) DEFAULT NULL,
  `jml_tanggungan` smallint(6) DEFAULT NULL,
  `kd_hub_bank` char(4) NOT NULL,
  `kd_golongan` char(4) NOT NULL,
  `status_pernikahan` char(1) DEFAULT NULL,
  `no_identitas_pasangan` varchar(255) DEFAULT NULL,
  `nm_pasangan` varchar(255) DEFAULT NULL,
  `dt_lahir_pasangan` date DEFAULT NULL,
  `kd_pisah_harta` char(1) DEFAULT NULL,
  `kd_langgar_bmpk` char(1) NOT NULL,
  `kd_lampau_bmpk` char(1) NOT NULL,
  `nm_ibu_kandung` varchar(255) NOT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `operasi_data` char(1) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_d01`
--

LOCK TABLES `rpt_slik_d01` WRITE;
/*!40000 ALTER TABLE `rpt_slik_d01` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_d01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_d02`
--

DROP TABLE IF EXISTS `rpt_slik_d02`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_d02` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `no_identitas` varchar(255) NOT NULL,
  `nm_identitas` varchar(255) NOT NULL,
  `kd_bentuk_usaha` char(2) NOT NULL,
  `ket_tempat_pendirian` varchar(255) NOT NULL,
  `no_pendirian` varchar(255) NOT NULL,
  `dt_pendirian` date NOT NULL,
  `no_pendirian_terakhir` varchar(255) NOT NULL,
  `dt_pendirian_terakhir` date NOT NULL,
  `no_telepon` varchar(255) NOT NULL,
  `no_hp` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `ket_alamat` varchar(255) NOT NULL,
  `ket_kelurahan` varchar(255) NOT NULL,
  `ket_kecamatan` varchar(255) NOT NULL,
  `kd_dati` char(4) NOT NULL,
  `no_kodepos` varchar(255) NOT NULL,
  `kd_negara` char(2) NOT NULL,
  `kd_bidang_usaha` char(6) NOT NULL,
  `kd_hub_pelapor` char(4) NOT NULL,
  `kd_langgar_bmpk` char(1) NOT NULL,
  `kd_lampau_bmpk` char(1) NOT NULL,
  `go_public` char(1) NOT NULL,
  `kd_golongan` char(4) NOT NULL,
  `kd_peringkat` char(2) DEFAULT NULL,
  `kd_lembaga_peringkat` char(2) DEFAULT NULL,
  `dt_peringkat` date DEFAULT NULL,
  `nm_group` varchar(255) DEFAULT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `operasi_data` char(1) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_d02`
--

LOCK TABLES `rpt_slik_d02` WRITE;
/*!40000 ALTER TABLE `rpt_slik_d02` DISABLE KEYS */;
INSERT INTO `rpt_slik_d02` VALUES (NULL,NULL,NULL,'2018-02-28','601306002000706','669396855403000','PT IMAROTS MADANI REALTINDO','18','DEPOK','15','2014-04-04','3','2014-08-08','77217666',NULL,NULL,'Kampung Kalisuren RT 002 RW 003','KALISUREN','TAJURHALANG','0108','16320','ID','009000','9900','T','T','T','8139',NULL,'99',NULL,NULL,'002','U',NULL);
/*!40000 ALTER TABLE `rpt_slik_d02` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_f01`
--

DROP TABLE IF EXISTS `rpt_slik_f01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_f01` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_rekening` varchar(255) NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `kd_sifat` char(1) NOT NULL,
  `kd_jenis` char(2) NOT NULL,
  `kd_skim` char(2) NOT NULL,
  `no_akad_awal` varchar(255) DEFAULT NULL,
  `dt_akad_awal` date DEFAULT NULL,
  `no_akad_akhir` varchar(255) DEFAULT NULL,
  `dt_akad_akhir` date DEFAULT NULL,
  `baru_perpanjangan` smallint(6) NOT NULL,
  `dt_awal_kredit` date NOT NULL,
  `dt_mulai` date NOT NULL,
  `dt_jatuh_tempo` date NOT NULL,
  `kd_kategori` char(2) NOT NULL,
  `kd_jenis_penggunaan` char(1) NOT NULL,
  `kd_orientasi_penggunaan` char(1) NOT NULL,
  `kd_sektor_ekonomi` char(6) NOT NULL,
  `kd_dati` char(4) NOT NULL,
  `nilai_proyek` int(11) DEFAULT NULL,
  `kd_valuta` varchar(4) NOT NULL,
  `suku_bunga` float NOT NULL,
  `kd_suku_bunga` char(1) NOT NULL,
  `kd_program` char(3) NOT NULL,
  `kd_takeover` varchar(255) DEFAULT NULL,
  `kd_sumber_dana` varchar(6) NOT NULL,
  `plafon_awal` int(11) NOT NULL,
  `plafon` int(11) NOT NULL,
  `pencairan_bulan` int(11) NOT NULL,
  `denda` int(11) NOT NULL,
  `baki_debet` int(11) NOT NULL,
  `nilai_valuta` int(11) DEFAULT NULL,
  `kd_kolektibilitas` smallint(6) NOT NULL,
  `dt_macet` date DEFAULT NULL,
  `kd_macet` char(2) DEFAULT NULL,
  `os_plafon` int(11) NOT NULL,
  `os_margin` int(11) NOT NULL,
  `dpd` smallint(6) NOT NULL,
  `os_frek` smallint(6) NOT NULL,
  `frek_restrukturisasi` smallint(6) NOT NULL,
  `dt_restrukturisasi_awal` date DEFAULT NULL,
  `dt_restrukturisasi_akhir` date DEFAULT NULL,
  `kd_restrukturisasi` char(2) DEFAULT NULL,
  `kd_kondisi` char(2) NOT NULL,
  `dt_kondisi` date DEFAULT NULL,
  `ket` varchar(255) DEFAULT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `operasi_data` char(1) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_f01`
--

LOCK TABLES `rpt_slik_f01` WRITE;
/*!40000 ALTER TABLE `rpt_slik_f01` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_f01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_f02`
--

DROP TABLE IF EXISTS `rpt_slik_f02`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_f02` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_rekening` varchar(255) NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `kd_sifat` char(1) NOT NULL,
  `no_urut` int(11) NOT NULL,
  `kd_jenis` char(2) NOT NULL,
  `kd_skim` char(2) NOT NULL,
  `no_akad_awal` varchar(255) DEFAULT NULL,
  `dt_akad_awal` date DEFAULT NULL,
  `no_akad_akhir` varchar(255) DEFAULT NULL,
  `dt_akad_akhir` date DEFAULT NULL,
  `baru_perpanjangan` smallint(6) NOT NULL,
  `dt_awal_kredit` date NOT NULL,
  `dt_mulai` date NOT NULL,
  `dt_jatuh_tempo` date NOT NULL,
  `kd_kategori` char(2) NOT NULL,
  `kd_jenis_penggunaan` char(1) NOT NULL,
  `kd_orientasi_penggunaan` char(1) NOT NULL,
  `kd_sektor_ekonomi` char(6) NOT NULL,
  `kd_dati` char(4) NOT NULL,
  `nilai_proyek` int(11) DEFAULT NULL,
  `kd_valuta` varchar(4) NOT NULL,
  `suku_bunga` float NOT NULL,
  `kd_suku_bunga` char(1) NOT NULL,
  `kd_program` char(3) NOT NULL,
  `kd_takeover` varchar(255) DEFAULT NULL,
  `kd_sumber_dana` varchar(6) NOT NULL,
  `plafon_awal` int(11) NOT NULL,
  `plafon` int(11) NOT NULL,
  `pencairan_bulan` int(11) NOT NULL,
  `denda` int(11) NOT NULL,
  `baki_debet` int(11) NOT NULL,
  `nilai_valuta` int(11) DEFAULT NULL,
  `kd_kolektibilitas` smallint(6) NOT NULL,
  `dt_macet` date DEFAULT NULL,
  `kd_macet` char(2) DEFAULT NULL,
  `os_plafon` int(11) NOT NULL,
  `os_margin` int(11) NOT NULL,
  `dpd` smallint(6) NOT NULL,
  `os_frek` smallint(6) NOT NULL,
  `frek_restrukturisasi` smallint(6) NOT NULL,
  `dt_restrukturisasi_awal` date DEFAULT NULL,
  `dt_restrukturisasi_akhir` date DEFAULT NULL,
  `kd_restrukturisasi` char(2) DEFAULT NULL,
  `kd_kondisi` char(2) NOT NULL,
  `dt_kondisi` date DEFAULT NULL,
  `ket` varchar(255) DEFAULT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `operasi_data` char(1) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_f02`
--

LOCK TABLES `rpt_slik_f02` WRITE;
/*!40000 ALTER TABLE `rpt_slik_f02` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_f02` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_f06`
--

DROP TABLE IF EXISTS `rpt_slik_f06`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_f06` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_rekening` varchar(255) NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `kd_jenis` char(3) NOT NULL,
  `kd_sumber_dana` varchar(6) NOT NULL,
  `dt_mulai` date NOT NULL,
  `dt_jatuh_tempo` date NOT NULL,
  `suku_bunga` float NOT NULL,
  `kd_valuta` varchar(4) NOT NULL,
  `nilai` int(11) NOT NULL,
  `nilai_valuta` int(11) NOT NULL,
  `kd_kolektibilitas` smallint(6) NOT NULL,
  `dt_macet` date DEFAULT NULL,
  `kd_macet` char(2) DEFAULT NULL,
  `os` int(11) NOT NULL,
  `dpd` int(11) NOT NULL,
  `kd_kondisi` char(2) NOT NULL,
  `dt_kondisi` date DEFAULT NULL,
  `ket` varchar(255) DEFAULT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `operasi_data` char(1) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_f06`
--

LOCK TABLES `rpt_slik_f06` WRITE;
/*!40000 ALTER TABLE `rpt_slik_f06` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_f06` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_k01`
--

DROP TABLE IF EXISTS `rpt_slik_k01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_k01` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `pelaporan` char(6) NOT NULL,
  `nilai_aset` int(11) NOT NULL,
  `nilai_aset_lancar` int(11) NOT NULL,
  `nilai_kas` int(11) NOT NULL,
  `nilai_piutang` int(11) NOT NULL,
  `nilai_investasi` int(11) NOT NULL,
  `nilai_aset_lancar_lain` int(11) NOT NULL,
  `nilai_aset_tdk_lancar` int(11) NOT NULL,
  `nilai_piutang_tdk_lancar` int(11) NOT NULL,
  `nilai_investasi_tdk_lancar` int(11) NOT NULL,
  `nilai_aset_tdk_lancar_lain` int(11) NOT NULL,
  `liabilitas` int(11) NOT NULL,
  `liabilitas_pendek` int(11) NOT NULL,
  `liabilitas_hutang_pendek` int(11) NOT NULL,
  `liabilitas_hutang_usaha_pendek` int(11) NOT NULL,
  `liabilitas_pendek_lain` int(11) NOT NULL,
  `liabilitas_panjang` int(11) NOT NULL,
  `liabilitas_hutang_panjang` int(11) NOT NULL,
  `liabilitas_hutang_usaha_panjang` int(11) NOT NULL,
  `liabilitas_panjang_lain` int(11) NOT NULL,
  `ekuitas` int(11) NOT NULL,
  `pendapatan` int(11) NOT NULL,
  `beban` int(11) NOT NULL,
  `laba_rugi` int(11) NOT NULL,
  `pendapatan_lain` int(11) NOT NULL,
  `laba_rugi_sebelum_pajak` int(11) NOT NULL,
  `laba_rugi_tahun` int(11) NOT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `operasi_data` char(1) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_k01`
--

LOCK TABLES `rpt_slik_k01` WRITE;
/*!40000 ALTER TABLE `rpt_slik_k01` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_k01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_m01`
--

DROP TABLE IF EXISTS `rpt_slik_m01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_m01` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_identitas` varchar(255) NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `kd_identitas` varchar(255) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `jns_kelamin` char(1) NOT NULL,
  `ket_alamat` varchar(255) NOT NULL,
  `ket_kelurahan` varchar(255) NOT NULL,
  `ket_kecamatan` varchar(255) NOT NULL,
  `kd_dati` char(4) NOT NULL,
  `kd_jabatan` char(2) DEFAULT NULL,
  `persentase_pemilikan` float NOT NULL,
  `kd_status` char(1) NOT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `operasi_data` char(1) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_m01`
--

LOCK TABLES `rpt_slik_m01` WRITE;
/*!40000 ALTER TABLE `rpt_slik_m01` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_m01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_p01`
--

DROP TABLE IF EXISTS `rpt_slik_p01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_p01` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_identitas` varchar(255) NOT NULL,
  `no_rekening` varchar(255) NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `kd_jenis_segmen` char(3) NOT NULL,
  `kd_identitas` char(1) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `nm_lengkap` varchar(255) DEFAULT NULL,
  `kd_golongan` char(4) NOT NULL,
  `ket_alamat` varchar(255) NOT NULL,
  `persentase_dijamin` float DEFAULT NULL,
  `ket` varchar(255) DEFAULT NULL,
  `kd_cabang` varchar(255) NOT NULL,
  `operasi_data` char(1) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_p01`
--

LOCK TABLES `rpt_slik_p01` WRITE;
/*!40000 ALTER TABLE `rpt_slik_p01` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_p01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpt_slik_s01`
--

DROP TABLE IF EXISTS `rpt_slik_s01`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpt_slik_s01` (
  `dt_populate` datetime DEFAULT NULL,
  `src_system` varchar(50) DEFAULT NULL,
  `user_generate` varchar(100) DEFAULT NULL,
  `dt_data` date NOT NULL,
  `no_rekening` varchar(255) NOT NULL,
  `no_cif` varchar(255) NOT NULL,
  `kd_jenis_segmen` char(3) NOT NULL,
  `kd_kolektibilitas_1` smallint(6) NOT NULL,
  `dpd_1` int(11) NOT NULL,
  `kd_kolektibilitas_2` smallint(6) NOT NULL,
  `dpd_2` int(11) NOT NULL,
  `kd_kolektibilitas_3` smallint(6) NOT NULL,
  `dpd_3` int(11) NOT NULL,
  `kd_kolektibilitas_4` smallint(6) NOT NULL,
  `dpd_4` int(11) NOT NULL,
  `kd_kolektibilitas_5` smallint(6) NOT NULL,
  `dpd_5` int(11) NOT NULL,
  `kd_kolektibilitas_6` smallint(6) NOT NULL,
  `dpd_6` int(11) NOT NULL,
  `kd_kolektibilitas_7` smallint(6) NOT NULL,
  `dpd_7` int(11) NOT NULL,
  `kd_kolektibilitas_8` smallint(6) NOT NULL,
  `dpd_8` int(11) NOT NULL,
  `kd_kolektibilitas_9` smallint(6) NOT NULL,
  `dpd_9` int(11) NOT NULL,
  `kd_kolektibilitas_10` smallint(6) NOT NULL,
  `dpd_10` int(11) NOT NULL,
  `kd_kolektibilitas_11` smallint(6) NOT NULL,
  `dpd_11` int(11) NOT NULL,
  `kd_kolektibilitas_12` smallint(6) NOT NULL,
  `dpd_12` int(11) NOT NULL,
  `field_checksum` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpt_slik_s01`
--

LOCK TABLES `rpt_slik_s01` WRITE;
/*!40000 ALTER TABLE `rpt_slik_s01` DISABLE KEYS */;
/*!40000 ALTER TABLE `rpt_slik_s01` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test`
--

DROP TABLE IF EXISTS `test`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `test` (
  `test1` float NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`test1`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test`
--

LOCK TABLES `test` WRITE;
/*!40000 ALTER TABLE `test` DISABLE KEYS */;
INSERT INTO `test` VALUES (24);
/*!40000 ALTER TABLE `test` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tmp_count_slik`
--

DROP TABLE IF EXISTS `tmp_count_slik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tmp_count_slik` (
  `kd_segment` varchar(45) NOT NULL DEFAULT '',
  `rec_count` int(10) unsigned NOT NULL DEFAULT '0',
  `page_count` int(10) unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`kd_segment`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tmp_count_slik`
--

LOCK TABLES `tmp_count_slik` WRITE;
/*!40000 ALTER TABLE `tmp_count_slik` DISABLE KEYS */;
INSERT INTO `tmp_count_slik` VALUES ('A01',0,0),('D01',0,0),('D02',0,0),('F01',0,0),('F02',0,0),('F06',0,0),('K01',0,0),('M01',0,0),('P01',0,0),('S01',0,0);
/*!40000 ALTER TABLE `tmp_count_slik` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tmp_row_slik`
--

DROP TABLE IF EXISTS `tmp_row_slik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tmp_row_slik` (
  `row_num` int(11) NOT NULL DEFAULT '0',
  `row_offset` int(11) NOT NULL DEFAULT '0',
  `row_limit` int(11) NOT NULL DEFAULT '0',
  `row_page` int(11) NOT NULL DEFAULT '0',
  `rec_count` int(11) NOT NULL DEFAULT '0',
  `row_final` int(11) NOT NULL DEFAULT '0',
  `kd_segmen` varchar(45) NOT NULL DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tmp_row_slik`
--

LOCK TABLES `tmp_row_slik` WRITE;
/*!40000 ALTER TABLE `tmp_row_slik` DISABLE KEYS */;
INSERT INTO `tmp_row_slik` VALUES (1,0,500000,500000,0,0,'A01'),(1,0,500000,500000,0,0,'D01'),(1,0,500000,500000,0,0,'F02'),(1,0,500000,500000,0,0,'D02'),(1,0,500000,500000,0,0,'F06'),(1,0,500000,500000,0,0,'M01'),(1,0,500000,500000,0,0,'P01'),(1,0,500000,500000,0,0,'S01'),(1,0,500000,500000,0,0,'F01'),(1,0,500000,500000,0,0,'K01');
/*!40000 ALTER TABLE `tmp_row_slik` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'dm_reporting'
--
/*!50003 DROP PROCEDURE IF EXISTS `gen_slik` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `gen_slik`(

  IN segment varchar(45)

)
BEGIN

  SET @v_loop = 0;

  SET @v_count = (select rec_count from tmp_count_slik where kd_segment = segment);

  SET @v_max = (select page_count from tmp_count_slik where kd_segment = segment);

  SET @v_export_limit = (select export_limit from rpt_slik);



  DELETE FROM tmp_row_slik WHERE kd_segmen = segment;



  WHILE @v_loop <= @v_max DO

    INSERT INTO tmp_row_slik(row_num,row_limit,rec_count,row_page,row_offset,row_final,kd_segmen)

    SELECT @v_loop + 1 as row_num,@v_export_limit as row_limit,@v_count as rec_count,(@v_loop + 1) * @v_export_limit as row_page, @v_loop * @v_export_limit as row_offset

      ,CASE WHEN @v_count > ( (@v_loop + 1) * @v_export_limit) THEN @v_export_limit ELSE @v_count - (@v_loop * @v_export_limit) END as row_final,segment as kd_segmen;



    SET @v_loop = @v_loop + 1;



  END WHILE;

  COMMIT;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2018-04-02 21:22:27
